/* Footer */
.footer {
  background-image: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}
