@use "../abstracts/variables" as v;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 1rem;
  /* overflow-x: hidden; */
}

/* Ensure elements with the HTML hidden attribute are not displayed */
[hidden] {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo {
  width: 200px;
  padding: 0.8rem;
  margin-right: 2rem;
}
