<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PHDXH71YP9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-PHDXH71YP9");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Giuseppe Mancini, Full Stack Web Developer in Frankfurt. Specializing in React, Node.js, Angular, MongoDB, Python/Django & UI/UX design to build sleek, dynamic web applications."
    />
    <meta name="author" content="Giuseppe Mancini - Full Stack Web Developer" />
    <meta
      name="keywords"
      content="Giuseppe Mancini, Full Stack Developer, Web Development, React, Node.js, Angular, MongoDB, Python, Django, UI/UX, Software Engineer, Frankfurt am Main"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'overrides.css' %}" />
    <title>
      {% block title %}Giuseppe Mancini | Full Stack Web Developer{% endblock %}
    </title>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include 'partials/_navbar.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/_footer.html' %}
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
